*{
    margin: 0;
}
body{
  text-align: center;

font-family: 'Merriweather', serif;

}

p{
  color: #545454;
  line-height: 1.7rem;
}
/*CLASSES*/

/*HEADER*/
.header {
  background: radial-gradient(#E0EBE8 ,#eef2f3);
  padding: 3.5%;
  padding-right: 10%;
  text-align: right;
  position: relative;
}
.header a{
  text-decoration: none;
  font-size: 1.1rem;
  margin: 1%;


}
.hlogo{
  position: absolute;
  left: 17%;
  top: auto;
  bottom: 35%;
  font-size: 2rem;
  padding: 0;
font-family: 'Merriweather', serif;
  font-weight: bold;
  background: -webkit-radial-gradient(#58D6B9,#F4A0A0,#4AB19A,#C88965);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.heducation{
    color: #4AB19A;
}
.heducation:hover{
  font-weight: bold;
  background: -webkit-radial-gradient(#58D6B9,#F4A0A0,#4AB19A,#C88965);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hskill{
    color: #4AB19A;
}
.hskill:hover{
  font-weight: 1000;
  background: -webkit-radial-gradient(#58D6B9,#F4A0A0,#4AB19A,#C88965);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hcontacts{
    color: black;
}
.hcontacts:hover{
  font-weight: 1000;
  background: -webkit-radial-gradient(#58D6B9,#F4A0A0,#4AB19A,#C88965);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*CONTAINER1*/
.container1{
  background: radial-gradient(#E0EBE8 ,#eef2f3);
  position: relative;
  height: 40rem;
  text-align: center;
}
.cintro{
  padding-top: 1.2rem;

}
.cname{
  color: #4AB19A;
  font-size: 4rem;
  font-weight: normal;
  padding-top: 3rem;
  padding-bottom: 0;


}
.asad{

  background: -webkit-radial-gradient(#58D6B9,#F4A0A0,#4AB19A,#C88965);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 6rem;
    font-family: 'Sacramento', cursive;
}
.asad:hover{
    font-weight: lighter;
}
.cinfo{
  color: #4AB19A;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: .3rem;
  padding-top: 0;
}

.dev{
      font-weight: bold;
      background: -webkit-radial-gradient(#58D6B9,#F4A0A0,#4AB19A,#C88965);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.ccloud1{
  width: 8%;
  position: absolute;
  left: 20%;
  top: 35%;
}
.ccloud2{
  width: 7%;
  position: absolute;
  right: 17%;
  top: 10%;
}
.cmountain{
  width: auto;
  height: 45%;
  position: absolute;
  bottom: 0;
  left: 26%;
  margin: 0 auto 0 auto;
}
/*IMAGE */
.ap{
  width: auto;
}
.mi{
  width: 10rem;
  margin-top: 10rem;
}
/*CONTAINER2*/
.container2{

}
.edheading{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 3rem;
color: #1E836C;
  }
.edcontainer{
  width: auto;
  padding: 0;

  text-align: center;
}
.eduicon{
  width: 9%;
  float:left;
  padding-top: 2rem;
  padding-left: 20rem;
  padding-right: 5rem;
  margin-bottom: 2rem;
}
.edpara{
  width: 50rem;
  margin: auto;
  font-size: 1.2rem;
}
.skheading{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 3rem;
color: #1E836C;
  }
.skcontainer{
  width: auto;
  padding: 0;

  text-align: center;
}
.skicon{
  width: 12%;
  float:right;
  padding-left: 5rem;
  padding-right: 20rem;
    margin-bottom: 2rem;
}
.skpara{
  width: 50rem;
  margin: auto;
  font-size: 1.2rem;
}
.conheading{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 3rem;
color: #1E836C;
  }
.concontainer{
  width: auto;
  padding: 0;
  margin-bottom: 6rem;
  text-align: center;
}
.conicon{
  width: 9%;
  float:left;
  padding-bottom: 1rem;
  padding-left: 20rem;
  padding-right: 5rem;
}
.conpara{
  width: 50rem;
  margin: auto;
  font-size: 1.2rem;
}



/*FOOTER*/
.footer{
  background-color: #4AB19A;
  width: 100%;
  padding: 2rem;
  height: 4rem;
  line-height: 2rem;

}
.footer p{
  color: white;
  font-size: .8rem;
  font-weight:  lighter;
  padding-top: .8rem;
}
.footer a{
  font-style: normal;
  text-decoration: none;
  padding: 1rem;
  padding-bottom:  4rem;
  font-weight: normal;
color: pink;
}
.footer a:focus {
    color:pink;
}
